<form action="/register" method="post">
    <h1>Criar Conta</h1>
    <div class="form-control">
        <input type="email" name="email" required placeholder="Digite seu email">
    </div>
    <div class="form-control">
        <input type="password" name="password" required placeholder="Digite uma senha">
    </div>
    <div class="form-control">
        <input type="password" name="confirmpassword" required placeholder="Confirme a senha">
    </div>
    <p>Já possui conta? <a href="/login">Entre aqui</a></p>
    <input type="submit" class="btn" value="Cadastrar">
</form>
