
<div class="actions">
    <ul>
        <li><a href="/store/add">Adicionar itens</a></li>
        <li><a href="/store/orders">Pedidos</a></li>
        <li><a href="/store/config">Configurações</a></li>
    </ul>
</div>
<div class="itens-filter">
    <form action="" method="get">
        <select name="" id="">
            
        </select>
    </form>

</div>