<form action="/store/register" method="post">
    <h1>Cadastrar Loja</h1>
    <div class="form-control">
        <input type="name" name="name" required placeholder="Digite O nome da loja">
    </div>
    <div class="form-control">
        <input type="cnpj" name="cnpj" required placeholder="Digite o cnpj da loja">
    </div>
    <div class="form-control">
        <input type="email" name="email" required placeholder="Digite seu email">
    </div>
    <div class="form-control">
        <input type="password" name="password" required placeholder="Digite uma senha">
    </div>
    <div class="form-control">
        <input type="password" name="confirmpassword" required placeholder="Confirme a senha">
    </div>
    <p>Já possui conta? <a href="/store/login">Entre aqui</a></p>
    <input type="submit" class="btn" value="Cadastrar">
</form>
